AppObjectFinder/AppObjectFinder/Service References/WsEntities/WsObjectFinder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Notificacion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Notificacion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="entNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaNotificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idNotificacion" type="xs:int" />
      <xs:element minOccurs="0" name="idObjeto" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="mensajeNotificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="entNotificacion" nillable="true" type="tns:entNotificacion" />
  <xs:complexType name="ArrayOfentNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entNotificacion" nillable="true" type="tns:entNotificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfentNotificacion" nillable="true" type="tns:ArrayOfentNotificacion" />
</xs:schema>