AppObjectFinder/LogicaObjectFinder/Service References/WsObjectfinder/WsObjectFinder2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:51565/Wcf_ObjectFinder/Servicio/" elementFormDefault="qualified" targetNamespace="http://localhost:51565/Wcf_ObjectFinder/Servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Usuario" />
  <xs:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Registro" />
  <xs:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Objeto" />
  <xs:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Notificacion" />
  <xs:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Media" />
  <xs:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Categoria" />
  <xs:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Estado" />
  <xs:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Facultad" />
  <xs:element name="Crear_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Usuario" minOccurs="0" name="Usuario" nillable="true" type="q1:entUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Crear_UsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Usuario" minOccurs="0" name="Usuario" nillable="true" type="q2:entUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_UsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Crear_Registro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Registro" minOccurs="0" name="Registro" nillable="true" type="q3:entRegistro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Crear_RegistroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Crear_Objeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Objeto" minOccurs="0" name="Objeto" nillable="true" type="q4:entObjeto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Crear_ObjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idObjeto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Objeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Objeto" minOccurs="0" name="Objeto" nillable="true" type="q5:entObjeto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ObjetoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Crear_Notificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Notificacion" minOccurs="0" name="Notificacion" nillable="true" type="q6:entNotificacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Crear_NotificacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Crear_Media">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Media" minOccurs="0" name="Media" nillable="true" type="q7:entMedia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Crear_MediaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Media">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Media" minOccurs="0" name="Media" nillable="true" type="q8:entMedia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_MediaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Categoria">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Categoria" minOccurs="0" name="Get_CategoriaResult" nillable="true" type="q9:ArrayOfentCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Estado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_EstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Estado" minOccurs="0" name="Get_EstadoResult" nillable="true" type="q10:ArrayOfentEstado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Facultad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_FacultadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Facultad" minOccurs="0" name="Get_FacultadResult" nillable="true" type="q11:ArrayOfentFacultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MediaxObjeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idObjeto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MediaxObjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Media" minOccurs="0" name="Get_MediaxObjetoResult" nillable="true" type="q12:ArrayOfentMedia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Notificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idObjeto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_NotificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Notificacion" minOccurs="0" name="Get_NotificacionResult" nillable="true" type="q13:ArrayOfentNotificacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Objeto_All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Objeto_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Objeto" minOccurs="0" name="Get_Objeto_AllResult" nillable="true" type="q14:ArrayOfentObjeto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Media_All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Media_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Media" minOccurs="0" name="Get_Media_AllResult" nillable="true" type="q15:ArrayOfentMedia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Usuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Usuario" minOccurs="0" name="Get_UsuarioResult" nillable="true" type="q16:ArrayOfentUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ObjetoxUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ObjetoxUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Objeto" minOccurs="0" name="Get_ObjetoxUsuarioResult" nillable="true" type="q17:ArrayOfentObjeto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Nro_Objetos_All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Nro_Objetos_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Nro_Objetos_AllResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Nro_Objetos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Nro_ObjetosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Nro_ObjetosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Objeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ObjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Objeto" minOccurs="0" name="Get_ObjetoResult" nillable="true" type="q18:ArrayOfentObjeto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>