AppObjectFinder/LogicaObjectFinder/Service References/WsObjectfinder/WsObjectFinder1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Estado" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Estado" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfentEstado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entEstado" nillable="true" type="tns:entEstado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfentEstado" nillable="true" type="tns:ArrayOfentEstado" />
  <xs:complexType name="entEstado">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_ESTADO" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE_ESTADO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="entEstado" nillable="true" type="tns:entEstado" />
</xs:schema>