AppObjectFinder/EntidadesObjectFinder/Service References/SwObjectfinder/WsObjectFinder7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Registro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Registro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="entRegistro">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      <xs:element minOccurs="0" name="idFacultad" type="xs:int" />
      <xs:element minOccurs="0" name="idObjeto" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="entRegistro" nillable="true" type="tns:entRegistro" />
</xs:schema>