AppObjectFinder/EntidadesObjectFinder/Service References/SwObjectfinder/WsObjectFinder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:8080/Wcf_ObjectFinder/Servicio/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsObjectFinder" targetNamespace="http://localhost:8080/Wcf_ObjectFinder/Servicio/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8080/Wcf_ObjectFinder/Servicio/Imports">
      <xsd:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd0" namespace="http://localhost:8080/Wcf_ObjectFinder/Servicio/" />
      <xsd:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Usuario" />
      <xsd:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Registro" />
      <xsd:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Objeto" />
      <xsd:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Notificacion" />
      <xsd:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Media" />
      <xsd:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Categoria" />
      <xsd:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Estado" />
      <xsd:import schemaLocation="http://localhost:51565/Servicio/WsObjectFinder.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Facultad" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsObjectFinder_Crear_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear_Usuario" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Crear_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Crear_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Actualizar_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_Usuario" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Actualizar_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Crear_Registro_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear_Registro" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Crear_Registro_OutputMessage">
    <wsdl:part name="parameters" element="tns:Crear_RegistroResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Crear_Objeto_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear_Objeto" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Crear_Objeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Crear_ObjetoResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Actualizar_Objeto_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_Objeto" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Actualizar_Objeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_ObjetoResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Crear_Notificacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear_Notificacion" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Crear_Notificacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Crear_NotificacionResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Crear_Media_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear_Media" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Crear_Media_OutputMessage">
    <wsdl:part name="parameters" element="tns:Crear_MediaResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Actualizar_Media_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_Media" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Actualizar_Media_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_MediaResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Categoria_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Categoria" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Categoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_CategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Estado_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Estado" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Estado_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_EstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Facultad_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Facultad" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Facultad_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_FacultadResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_MediaxObjeto_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_MediaxObjeto" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_MediaxObjeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_MediaxObjetoResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Notificacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Notificacion" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Notificacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_NotificacionResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Objeto_All_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Objeto_All" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Objeto_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Objeto_AllResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Media_All_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Media_All" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Media_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Media_AllResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Usuario" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_ObjetoxUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_ObjetoxUsuario" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_ObjetoxUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_ObjetoxUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Nro_Objetos_All_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Nro_Objetos_All" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Nro_Objetos_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Nro_Objetos_AllResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Nro_Objetos_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Nro_Objetos" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Nro_Objetos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Nro_ObjetosResponse" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Objeto_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Objeto" />
  </wsdl:message>
  <wsdl:message name="IWsObjectFinder_Get_Objeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_ObjetoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsObjectFinder">
    <wsdl:operation name="Crear_Usuario">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_Usuario" message="tns:IWsObjectFinder_Crear_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_UsuarioResponse" message="tns:IWsObjectFinder_Crear_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Usuario">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Actualizar_Usuario" message="tns:IWsObjectFinder_Actualizar_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Actualizar_UsuarioResponse" message="tns:IWsObjectFinder_Actualizar_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Crear_Registro">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_Registro" message="tns:IWsObjectFinder_Crear_Registro_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_RegistroResponse" message="tns:IWsObjectFinder_Crear_Registro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Crear_Objeto">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_Objeto" message="tns:IWsObjectFinder_Crear_Objeto_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_ObjetoResponse" message="tns:IWsObjectFinder_Crear_Objeto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Objeto">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Actualizar_Objeto" message="tns:IWsObjectFinder_Actualizar_Objeto_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Actualizar_ObjetoResponse" message="tns:IWsObjectFinder_Actualizar_Objeto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Crear_Notificacion">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_Notificacion" message="tns:IWsObjectFinder_Crear_Notificacion_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_NotificacionResponse" message="tns:IWsObjectFinder_Crear_Notificacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Crear_Media">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_Media" message="tns:IWsObjectFinder_Crear_Media_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_MediaResponse" message="tns:IWsObjectFinder_Crear_Media_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Media">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Actualizar_Media" message="tns:IWsObjectFinder_Actualizar_Media_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Actualizar_MediaResponse" message="tns:IWsObjectFinder_Actualizar_Media_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Categoria">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Categoria" message="tns:IWsObjectFinder_Get_Categoria_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_CategoriaResponse" message="tns:IWsObjectFinder_Get_Categoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Estado">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Estado" message="tns:IWsObjectFinder_Get_Estado_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_EstadoResponse" message="tns:IWsObjectFinder_Get_Estado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Facultad">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Facultad" message="tns:IWsObjectFinder_Get_Facultad_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_FacultadResponse" message="tns:IWsObjectFinder_Get_Facultad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_MediaxObjeto">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_MediaxObjeto" message="tns:IWsObjectFinder_Get_MediaxObjeto_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_MediaxObjetoResponse" message="tns:IWsObjectFinder_Get_MediaxObjeto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Notificacion">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Notificacion" message="tns:IWsObjectFinder_Get_Notificacion_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_NotificacionResponse" message="tns:IWsObjectFinder_Get_Notificacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Objeto_All">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Objeto_All" message="tns:IWsObjectFinder_Get_Objeto_All_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Objeto_AllResponse" message="tns:IWsObjectFinder_Get_Objeto_All_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Media_All">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Media_All" message="tns:IWsObjectFinder_Get_Media_All_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Media_AllResponse" message="tns:IWsObjectFinder_Get_Media_All_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Usuario">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Usuario" message="tns:IWsObjectFinder_Get_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_UsuarioResponse" message="tns:IWsObjectFinder_Get_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_ObjetoxUsuario">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_ObjetoxUsuario" message="tns:IWsObjectFinder_Get_ObjetoxUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_ObjetoxUsuarioResponse" message="tns:IWsObjectFinder_Get_ObjetoxUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Nro_Objetos_All">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Nro_Objetos_All" message="tns:IWsObjectFinder_Get_Nro_Objetos_All_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Nro_Objetos_AllResponse" message="tns:IWsObjectFinder_Get_Nro_Objetos_All_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Nro_Objetos">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Nro_Objetos" message="tns:IWsObjectFinder_Get_Nro_Objetos_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Nro_ObjetosResponse" message="tns:IWsObjectFinder_Get_Nro_Objetos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Objeto">
      <wsdl:input wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Objeto" message="tns:IWsObjectFinder_Get_Objeto_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_ObjetoResponse" message="tns:IWsObjectFinder_Get_Objeto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsObjectFinder" type="tns:IWsObjectFinder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Crear_Usuario">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Usuario">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Actualizar_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear_Registro">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_Registro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear_Objeto">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_Objeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Objeto">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Actualizar_Objeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear_Notificacion">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_Notificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear_Media">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Crear_Media" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Media">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Actualizar_Media" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Categoria">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Categoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Estado">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Estado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Facultad">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Facultad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_MediaxObjeto">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_MediaxObjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Notificacion">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Notificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Objeto_All">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Objeto_All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Media_All">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Media_All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Usuario">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ObjetoxUsuario">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_ObjetoxUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Nro_Objetos_All">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Nro_Objetos_All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Nro_Objetos">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Nro_Objetos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Objeto">
      <soap:operation soapAction="http://localhost:8080/Wcf_ObjectFinder/Servicio/IWsObjectFinder/Get_Objeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsObjectFinder">
    <wsdl:port name="BasicHttpBinding_IWsObjectFinder" binding="tns:BasicHttpBinding_IWsObjectFinder">
      <soap:address location="http://localhost:51565/Servicio/WsObjectFinder.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>