AppObjectFinder/EntidadesObjectFinder/Service References/SwObjectfinder/WsObjectFinder6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Facultad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Facultad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfentFacultad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entFacultad" nillable="true" type="tns:entFacultad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfentFacultad" nillable="true" type="tns:ArrayOfentFacultad" />
  <xs:complexType name="entFacultad">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_FACULTAD" type="xs:int" />
      <xs:element minOccurs="0" name="ID_LOCALIDAD" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE_FACULTAD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="entFacultad" nillable="true" type="tns:entFacultad" />
</xs:schema>