AppObjectFinder/EntidadesObjectFinder/Service References/SwObjectfinder/WsObjectFinder109.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Objeto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Objeto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="entObjeto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      <xs:element minOccurs="0" name="idObjeto" type="xs:int" />
      <xs:element minOccurs="0" name="nombreObjeto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="palabrasClaves" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="entObjeto" nillable="true" type="tns:entObjeto" />
  <xs:complexType name="ArrayOfentObjeto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entObjeto" nillable="true" type="tns:entObjeto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfentObjeto" nillable="true" type="tns:ArrayOfentObjeto" />
</xs:schema>