AppObjectFinder/EntidadesObjectFinder/Service References/SwObjectfinder/WsObjectFinder3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Categoria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Categoria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfentCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entCategoria" nillable="true" type="tns:entCategoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfentCategoria" nillable="true" type="tns:ArrayOfentCategoria" />
  <xs:complexType name="entCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_CATEGORIA" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE_CATEGORIA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="entCategoria" nillable="true" type="tns:entCategoria" />
</xs:schema>