AppObjectFinder/EntidadesObjectFinder/Service References/SwObjectfinder/WsObjectFinder6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Usuario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities_ObjectFinder.Usuario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="entUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      <xs:element minOccurs="0" name="idIntegracion" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="primerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="entUsuario" nillable="true" type="tns:entUsuario" />
  <xs:complexType name="ArrayOfentUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entUsuario" nillable="true" type="tns:entUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfentUsuario" nillable="true" type="tns:ArrayOfentUsuario" />
</xs:schema>